@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2">
        <label for="userName">User Name:</label>
    </div>
    <div class="col-md-2">
        <input id="userNameField" type="text" required />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="password">Password:</label>
    </div>
    <div class="col-md-2">
        <input id="passwordField" type="password" required />
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <input id="loginButton" type="button" value="Login" />
    </div>
    <div class="col-md-2">
        <hyperlink>@Html.ActionLink("SignUp", "SignUp", "Home")</hyperlink>
    </div>
</div>


