@model Inventory.Models.SearchQueryResponse

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Search Results
</h2>
<div>
    <span>Search Query : @Model.SearchQuery</span>
</div>
<div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">LUIS AI - Response</a>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>
 @Model.RawJSON
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

    @{Html.RenderAction("Index", "Order", new { searchString = Model.SearchQuery });
    }
</div>