
@{
    ViewBag.title = "SignUp";
}

<style>
    label {
        padding: 5px;
        display: inline-block;
        text-align: right;
    }
</style>
<h1>Create an Account</h1>

<h3>Enter Personal Information</h3>
<div class="container">
    <label for="firstName"><b>First Name:</b></label>
    <input id="firstName" type="text" />
    <br />
    <label for="lastName"><b>Last Name:</b></label>
    <input id="lastName" type="text" />
    <br />
    <label for="phoneNumber"><b>Phone Number:</b></label>
    <input id="phoneNumber" type="tel" />
    <br />
    <label for="address"><b>Address:</b></label>
    <input id="address" type="text" />
    <br />
    <label for="email"><b>Email:</b></label>
    <input id="email" type="email" />
</div>
<h3>Enter Login Information</h3>
<div class="container">
    <div class="block">
        <label for="userName"><b>User Name:</b></label>
        <input id="userNameField" type="text" required /><br />
    </div>
    <div class="block">
        <label for="password"><b>Password: </b></label>
        <input id="passwordField" type="password" required /><br />
    </div>
    <div class="block">
        <label for="password"><b>Re-Enter Password: </b></label>
        <input id="passwordField1" type="password" required /><br />
    </div>
</div>

<input id="addButton" type="button" value="Add" />
<input id="cancelButton" type="button" value="Cancel" />
