
@{
    ViewBag.title = "SignUp";
}

<h1>Create an Account</h1>

<script type="text/html">
    function Add_Button_Click(){
        Users.Add_Button_Click();
    }
</script>

<h3>Enter Personal Information</h3>
<div class="row">
    <div class="col-md-2">
        <label for="firstName">First Name:</label>
    </div>
    <div class="col-md-2">
        <input id="firstName" type="text" size="25" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="lastName">Last Name:</label>
    </div>
    <div class="col-md-2">
        <input id="lastName" type="text" size="25" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="phoneNumber">Phone Number:</label>
    </div>
    <div class="col-md-2">
        <input id="phoneNumber" type="tel" size="10" inputmode="numeric" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="street">Street:</label>
    </div>
    <div class="col-md-2">
        <input id="street" type="text" size="25" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="city">City:</label>
    </div>
    <div class="col-md-2">
        <input id="city" type="text" size="25" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="zip_code">Zip Code:</label>
    </div>
    <div class="col-md-2">
        <input id="zip_code" type="text" size="5" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="email">Email:</label>
    </div>
    <div class="col-md-2">
        <input id="email" type="email" size="40" inputmode="email" />
    </div>
</div>

<h3>Enter Login Information</h3>
<div class="row">
    <div class="col-md-2">
        <label for="userName">User Name:</label>
    </div>
    <div class="col-md-2">
        <input id="userNameField" type="text" required size="20" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="password">Password: </label>
    </div>
    <div class="col-md-2">

        <input id="passwordField" type="password" required size="20" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="password">Re-Enter Password: </label>
    </div>
    <div class="col-md-2">
        <input id="passwordField1" type="password" required size="20" />
    </div>
</div>
<br />
<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
    <div class="row">
        <div class="col-md-2">
            <input runat="server" id="addButton" type="button" value="Add" onclick="Users.Add_Button_Click" />
        </div>
        <div class="col-md-2">
            <input id="cancelButton" type="button" value="Cancel" />
        </div>
    </div>
</asp:ScriptManager>

